.container__menu-title{
	margin: 10px 0 10px 0;
	display: flex !important;
	justify-content: center !important;
}

.container__menu-title img{
	margin: 20px 0;
	padding: 20px 0;
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

